body{
    margin: 0px;
    
}

.title{
    font-size: 60px;
    color: white;
    background-color: #37bbc7;
    margin: 0px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

